@font-face {
  font-family: 'Horror';
  src: url('../fonts/Horror.ttf') format('truetype');
}
@font-face {
  font-family: 'Savage';
  src: url('../fonts/Savage.ttf') format('truetype');
}
@font-face {
  font-family: 'mom';
  src: url('../fonts/mom.ttf') format('truetype');
}
h1 {
  font-size: 130px;
  background-image: url('https://img.freepik.com/fotos-premium/textura-piel-serpiente-negra-fondo-negro_874239-17.jpg');
  background-clip: text;
  height: 300px;
  color: transparent;
}
.question {
  font-family: mom;
  color: black;
  font-size: 50%;
  margin-bottom: 60px;
}
header {
  background: linear-gradient(to bottom, red, black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Savage';
  font-size: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20vh;
}
main {
  background: linear-gradient(to bottom, black, red);
  // background-color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 2vh;
  color: lightgray;
}
h4 {
  font-size: 50px;
  font-family: 'mom';
  padding-top: 78px;
  color: black;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
}
