@font-face {
  font-family: 'mom';
  src: url('../fonts/mom.ttf') format('truetype');
}

button {
  padding: 50px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mom;
  color: yellow;
  background-color: rebeccapurple;
  border: 1px solid yellow;
  position: relative;
  bottom: 100px;
}
button:hover {
  cursor: pointer;
  box-shadow: 10px 8px 10px black;
  color: red;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAcSfg4gsQpAzAUw5kE7WAzOx8LCnOcR9C5Zf5O-Nz7A&s');
  background-size: cover;
  border: 5px solid black;
  // // position: relative;
  // bottom: 10px;
}

@media screen and (min-width: 768px) {
  button {
  }
}
