@font-face {
  font-family: 'mom';
  src: url('../fonts/mom.ttf') format('truetype');
}
@font-face {
  font-family: 'Savage';
  src: url('../fonts/Savage.ttf') format('truetype');
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 80%;
  border-radius: 1rem;
  margin-bottom: 190px;
  margin-top: 200px;
  padding: 10px;
  position: relative;
  top: 70px;
}
.container1,
.container2 {
  text-align: center;
}
.container-image {
  text-align: center;
}

.title {
  font-size: 150%;
  font-family: 'mom';
  color: rgb(99, 15, 15);
  margin-top: 20px;
}
.director {
  font-size: 110%;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}
.year {
  font-size: 100%;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 7px;
  margin-top: 5px;
  color: darkred;
}

.film_image {
  width: 70%;
  border-radius: 2rem;
  margin-bottom: 20px;
}
.cast {
  color: darkred;
  font-style: italic;
  font-size: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  // margin-left: 20px;
}
.type {
  color: white;
  position: relative;
  bottom: 10px;
  font-size: 90%;
  font-family: 'Courier New', Courier, monospace;
}
.description_container {
  // width: 90%;
  font-size: 100%;
  // text-align: left;
  margin-bottom: 30px;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .card {
    margin-bottom: 200px;
    margin-top: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    width: 60%;
    flex-direction: column;
    gap: 50px;
    // padding-left: 120px;
    padding: 40px;
  }
  .try {
    display: flex;
    gap: 10%;
  }
  .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .cast {
    text-align: left;
  }
  .film_image {
    width: 250px;
  }
  .description_container {
    font-size: 120%;
  }
  .title {
    font-size: 300%;
  }
  .director {
    font-size: 200%;
  }
  .year {
    font-size: 150%;
  }
}
